* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
}

.scene {
    display: none;
}

.scene.active {
    display: block;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    background-color: gray;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.tarjeta-producto {
    width: 160px;
    height: 160px;
    display: inline-block;
    padding: 12px;
    margin: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #ff94a4;
}

.tarjeta-producto.seleccionado {
    background-color: #7aff7a;
}

.seleccion,
#contenedor-enemigos,
#registro-batallas {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
}

.seleccion h3 {
    margin-bottom: 10px;
    color: #5a3921;
}